@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


::-webkit-scrollbar {
   display: none;
}




:root {
  /* App colors*/
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-text: var(--color-white);
  /* Colors */
  --color-white: #ffffff;
  --color-black: #333333;
  --color-gray: #edf2f7;
}


p,
h4,
h3,
h2,
h1,
span {
  transform: rotate(0.03deg);
}


body {
   font-family: 'Pretendard', 'Noto Sans TC', '맑은 고딕', sans-serif;
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 1.5;
   letter-spacing: -2.5%;
   color: var(--black);
   -ms-overflow-style: none;
   scroll-behavior: smooth;
   background-color: #f2f2f2;
}

canvas{
    width: 100vw;
    height: 1080px;
    transition: all 1s;
    position: absolute;
    top: 0px;
}


@keyframes UpandDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}




/*PortfolioMain*/

.section01{
    width: 1920px;
    height: 1080px;
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 50px;
 

}


.section01 p{
  color: white;
  font-weight: 500;
  margin-top: 84px; } 

.utill{
    width: 1294px;
    height: 100px;
    font-size: 9rem;
    font-weight: 800;
    color: #ffffff;
}


.utill ~ .utill{
  width: 1294px;
  height: 100px;
  font-size: 9rem;
  font-weight: 800;
  color: #ffffff;
}



 .img00{
  width: 724px;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 11;
  right: 294px;
  top: 180px;
  transition: all 1s;
 }

  .img01{
  width: 281px;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 10;
  right: 274px;
  top: 230px;
    transition: all 1s;
 }

  .img02{
  width: 744px;
  height: 265px;
  position: absolute;
  z-index: 10;
  right: -15px;
  top: 0px;
    transition: all 3s;
 }

 
  .img03{
  width: 466px;
  aspect-ratio: 304px;
  position: absolute;
  z-index: 10;
  right: 715px;
  bottom: 0px;

    transition: all 3s;
 }

   .img04{
  width: 328px;
  aspect-ratio: 300px;
  position: absolute;
  z-index: 10;
  right: 175px;
  bottom: 0px;
  transition: all 3s;
 }
    .img05{
  width: 312px;
  aspect-ratio: 312px;
  position: absolute;
  z-index: 10;
  left: 175px;
  bottom: 150px;
  transition: all 3s;
 }

     .img06{
  width: 314px;
  aspect-ratio: 314px;
  position: absolute;
  z-index: 5;
  left: 345px;
  bottom: 50px;
  transition: all 3s;
 }
 
     .img07{
  width: 280px;
  aspect-ratio: 280px;
  position: absolute;
  z-index: 5;
  left: 0px;
  bottom: 0px;
  transition: all 3s;
  z-index: 4;
 }

 /*header*/
 .header{
  width: 100%;
  height: 84px;
  border-bottom: 2px solid #333333;
  background-color: #ffffff;
  position: relative;
  top: 1080px;
 }

 .headerContents{
  width: 1920px;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  padding:26px;
 }

  .headerContents h3{
    font-weight: 700;

  }

   .headerContents img{
    width: 214px;
    height: 104px;
    position: absolute;
    top: -75px;
    left: 30%;
    transform: translateX(-30%);
    z-index: 10;
   }


   /*바디*/
   .anotherBody{
    width: 1920px;
    height: 7755px;
    margin: 0 auto;
    margin-top: 1080px;
    position: relative;
    border-left:1px solid red ;
   }

  .introPage{
    width:100%;
    height: 952px;
     padding-left: 40px;
  padding-right:40px;
    border-bottom: 3px solid #333333;
   }


  .introPage h2{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 24px;
  }


.profileBlock{
  width: 500px;
  height: 500px;
  background-color: #ffffff;
  margin-top: 100px;
   box-shadow : 0 20px 0 0 #fd6413;
}

.profileBlock img{
  width: 488px;
  height: 700px;
  position: relative;
  top: -136px;
  
}



  .introducePage{
    width:100%;
    height: 947px;
    border-bottom: 3px solid #333333;
    }


/*WebDesign&Publishing*/

.WebDesignPublishing{
  width: 100%;
  height: 1092px;
  position: relative;
   padding-left: 40px;
  padding-right:40px;
  border-bottom: 3px solid #333333;
}

.WebDesignPublishing h2{

   font-size: 8rem;
    font-weight: 700;
    margin-top: 24px;
    position: absolute;
    top: -90px;
    background-color: #f2f2f2;
    padding-right: 40px;
}


.WebDesignPublishing h3{
  font-size: 3rem;
  font-weight: 300;
  position: absolute;
  width: 400px;
  top: 75px;
}

.WebDesignPublishing p {
  width: fit-content;
  height: 100px;
  position: absolute;
  bottom: 160px;
}

.WebDesignPublishing p + p{
    width: fit-content;
  height: 100px;
  position: absolute;
  bottom: 160px;
  right: 530px;
}


.remakeWork{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.remakeWorkBox{
  width: 49%;
  height: 636px;
  margin-top: 170px;
  background-image: url(/IMG/main/nanoITremake.png);
  background-size: cover;
}
.remakeWorkBox + .remakeWorkBox{
    width: 49%;
  height: 636px;
  margin-top: 170px;
  background-image: url(/IMG/main/funSMSREmake.png);
  background-size: cover;
}




/*PublishingPracticeClone Works*/


.PublishingPracticeCloneWorks{
  width: 100%;
  height: 1076px;
   padding-left: 40px;
  padding-right:40px;
  border-bottom: 3px solid #333333;
  position: relative;
}

.PublishingPracticeCloneWorks h2{
   font-size: 8rem;
    font-weight: 700;
    margin-top: 24px;
    position: absolute;
    top: -90px;
    background-color: #f2f2f2;
    padding-right: 40px;
}



.publishingWork{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.publishingWorkBox{
  width: 49%;
  height: 636px;
  margin-top: 170px;
  background-image: url(/IMG/main/seoulUniversity.png);
  background-size: cover;
}
.publishingWorkBox + .publishingWorkBox{
    width: 49%;
  height: 636px;
  margin-top: 170px;
  background-image: url(/IMG/main/retroBoys.png);
  background-size: cover;
}

/*BIBXwork*/


.BIBXwork{
  width: 100%;
  height: 843px;
  padding-left: 40px;
  padding-right:40px;
  position: relative;
  border: 1px solid red;
}

.BIBXwork h2{
     font-size: 8rem;
    font-weight: 700;
    margin-top: 24px;
    position: absolute;
    top: -90px;
    background-color: #f2f2f2;
    padding-right: 40px;
}




.BIBXworkBOX{
  width: 100%;
  height: 598px;
  border: 1px solid red;
  margin-top: 115px;
  display: flex;
  justify-content: space-between;
}


.BIBXworkBOXcontents{
  width: 595px;
  height: 595px;
  background-color: #ffffff;
  background-image: url(/IMG/main/funSMSremake001.png);
}

.BIBXworkBOXcontent:nth-child(1){
  background-image: url(/IMG/main/funSMSremake002.png);
}


/*footer*/
.footer{
  width: 100%;
  height: 592px;
  color: #ffffff;
  background-color: #7358EF;
}

.footerContents{
  width: 1920px;
  height: 100%;
  padding-top: 100px;
  padding-left: 50px;
  margin: 0 auto;
  position: relative;
}
.footerContents h2{
font-size: 8rem;
font-weight: 800;
}


.footerContents img{
  position:absolute;
  width: 500px;
  right: 100px;
  bottom: 0px;
}

.footerContents span{margin-right: 50px; }
.footerContents span a{color: #ffffff;}


@media only screen and (max-width: 767px) {

}