@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


::-webkit-scrollbar {
   display: none;
}



path {
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  
}


:root {
  /* App colors*/
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-text: var(--color-white);
  /* Colors */
  --color-white: #ffffff;
  --color-black: #333333;
  --color-gray: #edf2f7;
}


p,
h4,
h3,
h2,
h1,
span {
  transform: rotate(0.03deg);
}


body {
   font-family: 'Pretendard', 'Noto Sans TC', '맑은 고딕', sans-serif;
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 1.5;
   letter-spacing: -2.5%;
   color: var(--black);
   -ms-overflow-style: none;
}

canvas{
    z-index: -9999;
       width: 100vw;
    height: 1080px;
    position: relative;
}


/*PortfolioMain*/

.section01{
    width: 1920px;
    height: 1080px;
    z-index: 10;
    position: absolute;
    border-left: 1px solid red;
    border-right: 1px solid red;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 50px;
 

}


.section01 p{
  color: white;
  font-weight: 500;
  margin-top: 84px; } 

.utill{
    width: 774px;
    height: 100px;
    font-size: 9rem;
    font-weight: 800;
    color: #ffffff;

}


.utill ~ .utill{
  width: 774px;
  height: 100px;
  font-size: 9rem;
  font-weight: 800;
  color: #ffffff;
}



 .img00{
  width: 744px;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 11;
  right: 274px;
  top: 230px;
 }

  .img01{
  width: 281px;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 10;
  right: 274px;
  top: 230px;
 }

  .img02{
  width: 744px;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 10;
  right: -15px;
  top: 0px;
 }