@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


::-webkit-scrollbar {
   display: none;
}



path {
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  
}


:root {
  /* App colors*/
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-text: var(--color-white);
  /* Colors */
  --color-white: #ffffff;
  --color-black: #333333;
  --color-gray: #edf2f7;
}


p,
h4,
h3,
h2,
h1,
span {
  transform: rotate(0.03deg);
}


body {
   font-family: 'Pretendard', 'Noto Sans TC', '맑은 고딕', sans-serif;
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 1.5;
   letter-spacing: -2.5%;
   color: var(--black);
   -ms-overflow-style: none;
   scroll-behavior: smooth;
   background-color: #f2f2f2;
}

canvas{
    width: 100vw;
    height: 1080px;
    transition: all 1s;
    position: absolute;
    top: 0px;
}


@keyframes UpandDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}



svg {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  opacity: 90%;
  pointer-events: none;
}




/*PortfolioMain*/

.section01{
    width: 1920px;
    height: 1080px;
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 50px;
 

}


.section01 p{
  color: white;
  font-weight: 500;
  margin-top: 84px; } 

.utill{
    width: 774px;
    height: 100px;
    font-size: 9rem;
    font-weight: 800;
    color: #ffffff;

}


.utill ~ .utill{
  width: 774px;
  height: 100px;
  font-size: 9rem;
  font-weight: 800;
  color: #ffffff;
}



 .img00{
  width: 724px;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 11;
  right: 294px;
  top: 180px;
  transition: all 1s;
 }

  .img01{
  width: 281px;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 10;
  right: 274px;
  top: 230px;
    transition: all 1s;
 }

  .img02{
  width: 744px;
  height: 265px;
  position: absolute;
  z-index: 10;
  right: -15px;
  top: 0px;
    transition: all 3s;
 }

 
  .img03{
  width: 466px;
  aspect-ratio: 304px;
  position: absolute;
  z-index: 10;
  right: 715px;
  bottom: 0px;

    transition: all 3s;
 }

   .img04{
  width: 328px;
  aspect-ratio: 300px;
  position: absolute;
  z-index: 10;
  right: 175px;
  bottom: 0px;
  transition: all 3s;
 }
    .img05{
  width: 312px;
  aspect-ratio: 312px;
  position: absolute;
  z-index: 10;
  left: 175px;
  bottom: 150px;
  transition: all 3s;
 }

     .img06{
  width: 314px;
  aspect-ratio: 314px;
  position: absolute;
  z-index: 5;
  left: 345px;
  bottom: 50px;
  transition: all 3s;
 }
 
     .img07{
  width: 280px;
  aspect-ratio: 280px;
  position: absolute;
  z-index: 5;
  left: 0px;
  bottom: 0px;
  transition: all 3s;
  z-index: 4;
 }

 /*header*/
 .header{
  width: 100%;
  height: 84px;
  border-bottom: 2px solid #333333;
  background-color: #ffffff;
  position: relative;
  top: 1080px;
 }

 .headerContents{
  width: 1920px;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  padding:26px;
 }

  .headerContents h3{
    font-weight: 700;

  }

   .headerContents img{
    width: 214px;
    height: 104px;
    position: absolute;
    top: -75px;
    left: 30%;
    transform: translateX(-30%);
    z-index: 10;
   }


   /*바디*/
   .anotherBody{
    width: 1920px;
    height: 15114px;
    border-left: 1px solid red;
    border-right:1px solid red;
    margin: 0 auto;
    margin-top: 1080px;
    position: relative;
   }

  .introPage{
    width:100%;
    height: 1047px;
    border-bottom: 3px solid #333333;
    
   }
  .introducePage{
    width:100%;
    height: 947px;
    border-bottom: 3px solid #333333;
    
   }


   .introh2Box{
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 42px;
    top: 110px;
   }

   .introh2{
     font-size: 9rem;
     font-weight: 700;
   }


#yellowObject{
  position: absolute;
  left: 290px;
  top: 370px;
  animation: UpandDown 4s infinite;
} 


.paranoise {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 100px;
  right: 38px;
}

.blueSponge{
  position: absolute;
  top: 150px;
  left: 480px;
  z-index: 14;
  animation: UpandDown 3s infinite;
}

.whiteSponge{
  position: relative;
  left:-250px;
  animation: UpandDown 5s infinite;
}



.redBoard{
  position: absolute;
  left: 360px;
  bottom:94px;
  z-index: 15;
  animation: UpandDown 4s infinite;
}


   /*Introduce*/

   #Introduce{
    width: 320px;
    font-size: 5.5rem;
    font-weight: 600;
    position: absolute;
    left: 0px;
    top: 980px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-left: 40px;
   

   }

   .profileBox{
    width: 911px;
    height: 570px;
    background-color: #ffffff;
    position: relative;
    left: 48px;
    bottom: -94px;
    box-shadow: 0 20px 0 0 #7358EF;
   }

   .profileBox img{
    position: absolute;
    bottom: -68px;
    left: 50%;
    transform: translateX(-50%);
   }


   .introduceParagraph{
    width: fit-content;
    height: fit-content;
    position: relative;
    top: -480px;
    left: 968px;
   }


  .introduceParagraph + .introduceParagraph{
    width: fit-content;
    height: fit-content;
    position: relative;
    top: -580px;
    left: 1328px;
      }

   .skillBox{
    width: fit-content;
    height: 55px;
    position: relative;
    right: -990px;
    top: -320px; ;
   }

   .skillBox img{
    margin: 8px;
   }

   /*workpage*/

  .workPage{
    width:100%;
    height: 5068px;
    border-bottom: 3px solid #333333 ;
    padding-top: 80px;
    padding-left: 40px ;
   }


   .workPage01{
    width: 100%;
    height: fit-content;
   }

   #workh2{
     width: 722px;
    font-size: 5.5rem;
    font-weight: 600;
    position: absolute;
    left: 0px;
    top: 1928px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-left: 40px;
   }


 #nanoITMobile{
    float: right;
    margin-right: 32px;
    
   }

.workPage02{
    width:1877px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 78px;
    position: relative;
   }

  #pencil{
    position: absolute;
    left: 60px;
    top: 510px;
    z-index: 10;
  }
  #funSMSdesktop{
    margin-left: 398px;
    width: 744px;
  }
  #funSMSmobile{
    position: absolute;
    left: -10px;
  }

  #funSMS3Dobject{
    position: absolute;
    right: 600px;
    bottom: -90px;
  }
.workPage02explain{
  width: 472px;
  height: 900px;
  float: right;
}


.workPage02explain h3{
  font-size: 5rem;
  font-weight: 400;
  text-align: right;
  line-height: 72px;
  padding-right: 20px;
  padding-top: 0px;
}


.workPage02explain p{
 text-align: justify;
  padding: 28px;
  margin-left: 20px;
}

.workPage02explain button{
  width: 120px;
  padding: 20px;
  background-color: #333333;
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  right: 30px;
}



.workPage03{
    width:1877px;
    height: 736px;
    margin: 0 auto;
    margin-top: 78px;
    position: relative;
   }
.workPage03explain{
  width: 472px;
  height: 900px;
  float: left;
}

.workPage03explain h3{
  font-size: 5rem;
  font-weight: 400;
  text-align: left;
  line-height: 72px;
  padding-right: 20px;
  padding-top: 0px;
}

.workPage03explain p{
 text-align: justify;
  margin-right: 20px;
  margin-top: 20px;
}

.workPage03explain button{
  width: 120px;
  padding: 20px;
  background-color: #333333;
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  left: 0px;
}






.workPage03 img{ float: right; margin-right: 30px;}





.SVGiconContainer{
  width: 1846px;
  height: 2088px;
  margin-top: 24px;
  margin-right: 24px;
  /*border: 0.5px solid blue;*/
  position: relative;
  display: flex;
  overflow-y: hidden;
}


.SVGiconBox1{
  width: 442px;
  height: 2078px;
  margin-right: 24px;
 

}


.iconRoom{
  width: 442px;
  height: 590px;
  background-color: #E8E8E8;
  margin-bottom: 24px;
}


.iconRoomMini{
  width: 442px;
  height: 232px;
  background-color: #E8E8E8;
  margin-bottom: 24px;
}


.SVGiconBox2{
  width: 442px;
  height: 2078px;
  margin-right: 24px;
 

}

.SVGiconBox3{
  width: 442px;
  height: 2078px;
  margin-right: 24px;
  
}

.SVGiconBox4{
  width: 442px;
  height: 2078px;
 
}